
.rplc {
    background-image: url('https://bit.ly/3JgMOSw');
    /* background-color: antiquewhite; */
    /* opacity: 0.5; */
    height: auto;
    width: 100%;
    opacity: 1;
    /* background-size: cover; */
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* border-radius: 50px; */
    /* display: flex;
    justify-content: center; */
  }
  
  img {
    margin-top: 100px;
    border-radius: 50px;
    /* margin-bottom: 100px; */
    width: 100%;
    margin-right: 30px;
   
    height:200px ;
    /* background-position: center; */
    
  }
  button{
    margin-top:20px;
    text-align: center;
  }
  div{
    border:1px solid coral;
    height:auto;
    width:100%;
    border-radius: 10px;
  
  }
  

/* 
#display-image{
    width: 400px;
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  } */
